
  <a  name="materiais"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2 style="color: #404040">Mantenha-se informado </h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline intro-social-buttons pull-left">
                      <li>
                          <a href="https://www.facebook.com/gametecfatecjdi" class="btn btn-primary btn-lg" target="_blank"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                      </li>
                      <li>
                          <a href="http://fatecjd.edu.br/site/" class="btn btn-danger btn-lg" target="_blank"><i class="fa fa-university fa-fw"></i> <span class="network-name">Fatec Jundiaí</span></a>
                      </li>
                  </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer class="amarelo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small" style="color: #00000">Copyright &copy; Gametec 2017. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
